<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="amazon.in">
	 <test thread-count="5" name="Login">
		<classes>
			<class name="com.Test.LoginTest" />
		</classes>
	</test>
	
	<test thread-count="5" name="registration">
		<classes>
			<class name="com.Test.RegistrationTest"> </class>
		</classes>
	</test> 

	<test thread-count="5" name="buy items">
		<classes>
			<class name="com.Test.BuyItems"> </class>			
		</classes>
	</test> 
	
	<test thread-count="5" name="Mysql - Database Testing">
		<classes>
			<class name="com.Mysql.dbTesting"> </class>			
		</classes>
	</test>
	
</suite>